{% extends "_base.html" %}
{% block title %}{{ lesson.title }}{% endblock title %}

{% block content %}
  <div class="lesson-detail">
    {% if lesson.cover %}
      <img class="bookcover" src="{{ lesson.cover.url }}" alt="{{ lesson.title }}">
    {% endif %}
    <h2><a href="">{{ lesson.title }}</a></h2>
    <p>Author: {{ lesson.author }}</p>
    <p>Description: {{ lesson.description }}</p>
    <div>
      <h3>Reviews</h3>
      <ul>
        {% for review in lesson.reviews.all %}
        <li>{{ review.review }} ({{ review.author }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
